
body {
  margin: 0;
}

.screen_border {
  padding-top: 5px;
  margin: 0 auto;
  width: 820px;
  height: 405px;
  background: gray;
}

.screen {
  position: relative;
  margin: 0 auto;
  width: 810px;
  height: 400px;
  background: rgba( 20, 20, 20, 1 );
}

.player {
  position: absolute;
  width: 50px;
  height: 10px;
  background: green;
}

.descent_space {
  position: relative;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  background: gray;
}

.descender {
  position: absolute;
}

.descender.big {
  background: purple;
  width: 30px;
  height: 30px;
}

.descender.medium {
  background: orange;
  width: 25px;
  height: 30px;
}

.descender.small {
  background: yellow;
  width: 20px;
  height: 30px;
}
